// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$light: #a6daff;
$dark: #082754;
$primary: #067fc1;
$secondary: #2162ba;
$info: #d80c66;
$success: #02a359;
$warning: #e4ca02;
$danger: #f40101;

$dropdown-bg: $primary;
